*.a
*.cache
*.gch
*.log
*.o
*.plist
*.py[co]
*.stamp
*.swp
*.trs
*~
.config.args
.deps/
/*.gcda
/*.gcno
/*.tar.bz2
/*.tar.gz
/*.tar.xz
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/TAGS
/ID
/build*
/coverage/
/image.raw
/image.raw.cache-pre-dev
/image.raw.cache-pre-inst
/install-tree
/mkosi.builddir/
/mkosi.output/
/tags
__pycache__/

# elogind specific
/elogind
/elogind-cgroups-agent
/elogind-inhibit
/test-libelogind*

# Local Helper Scripts and Tools - Not for distribution
pwx/patches/*
!pwx/patches/.keep_dir
pwx/patches_port/*
!pwx/patches_port/.keep_dir
*.orig
*.rej
*.remote
*.bak
*.layout

# directories not needed by elogind
/sysusers.d
/hwdb
/catalog
/xorg
/network
/system-preset
/tmpfiles.d
/units
/rules
/test
/.github
/sysctl.d
/coccinelle
mask_po_files.sh
cccc
*.v234
*.v234.diff
.project
patches_port/
