load-fragment-gperf-nulstr.c
load-fragment-gperf.c
load-fragment-gperf.gperf
org.freedesktop.systemd1.policy.in
org.freedesktop.systemd1.policy
99-systemd.rules
*.gcno
*.gcda

# directories not needed by elogind
/initctl
/libudev
/cgls
/rfkill
/resolve
/firstboot
/path
/tmpfiles
/quotacheck
/system-update-generator
/debug-generator
/sysctl
/sysv-generator
/backlight
/coredump
/modules-load
/machine-id-setup
/getty-generator
/ac-power
/gpt-auto-generator
/journal
/socket-proxy
/cgtop
/locale
/cryptsetup
/run
/binfmt
/fstab-generator
/detect-virt
/timesync
/journal-remote
/nss-mymachines
/nss-resolve
/hibernate-resume
/stdio-bridge
/hostname
/user-sessions
/nss-myhostname
/random-seed
/vconsole
/analyze
/sysusers
/notify
/kernel-install
/rc-local-generator
/nspawn
/boot
/import
/libsystemd
/escape
/systemctl
/hwdb
/network
/udev
/tty-ask-password-agent
/remount-fs
/ask-password
/timedate
/delta
/dbus1-generator
/fsck
/machine
/update-done
/libsystemd-network
/reply-password
/activate
